{% extends 'base.html' %}
{% load static %}

{% block title %}
    My all notes
{%  endblock %}

{% block content %}

    {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-{{ message.tags }}">
                    <p style="color: green">{{ message }}</p>
                    </div>
                    {% else %}
                    <div class="alert alert-{{ message.tags }}">
                    <p style="color: red">{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}


    {% if user.is_authenticated %}
        <p>Hi, {{ user.username }}!<br><a href="{% url 'notes:logout' %}">Log Out</a></p>

        {% else %}
        <p>You are not logged in<br><a href="{% url 'notes:login' %}">Log In</a> or
            <a href="{% url 'notes:register' %}">Register</a>
        </p>

    {% endif %}

        <div id="searchbar">
        <form class="input-group rounded" action="{% url 'notes:search_notes' %}" style="width: 250px">
            <input class="form-control rounded" type="search" placeholder="Search note by title" name="query" required>
            <button class="btn btn-primary rounded" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
        </div>



    <p>Your notes:</p>
    {% if user_notes %}
        <ul>
            {% for user_note in user_notes %}
                <li><a href="{% url 'notes:note_detail' user_note.id %}">{{ user_note.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="font-style: italic">You have no notes yet</p>
    {% endif %}

    <p>Public notes:</p>
    <ul>
    {% for public_note in public_notes %}
        <li><a href="{% url 'notes:note_detail' public_note.id %}">{{ public_note.title }}</a></li>
    {% endfor %}
    </ul>

    <a href="{% url 'notes:new_note' %}">
        <button type="button" class="btn btn-outline-success btn-with-margin">Add a new note</button>
    </a>

    <div id = "filter">
    <p>Filter notes by category or reminder</p>
    <form action={% url 'notes:filtered_results' %}>
        <label for="category"></label>
        <select name="category" id="category">
            <option value="all">All categories</option>
            {% for category in categories_list %}
                <option value="{{ category.title }}"
                        {% if request.GET.category == category.title %}
                            selected
                        {% endif %}>
                            {{ category.title }}
                </option>
            {% endfor %}
            <option value="uncategorized">Without category</option>
        </select>
        <label for="start_date">Start date:</label>
        <input type="date" name="start_date" id="start_date" value="{% if request.GET.start_date %}{{ request.GET.start_date }}{% endif %}">
        <label for="end_date">End date:</label>
        <input type="date" name="end_date" id="end_date" value="{% if request.GET.end_date %}{{ request.GET.end_date }}{% endif %}">
        <button type="submit" class="btn btn-primary" style="height: 30px; font-size: small">Filter</button>
    </form>
    </div>

    <p style="margin-top: 20px"><a href="{% url 'notes:categories_list' %}">Browse by category</a></p>

{% endblock %}