{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Registration{% endblock %}

{% block content %}
    <!--Register-->
    <div class="container py-5" style="width: 35%; margin-left: 20px; margin-top: -20px; margin-bottom: -20px">
        <h3>Register</h3>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                <p style="color: red">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ register_form|crispy }}
            <button class="btn btn-primary btn-with-margin" type="submit">Register</button>
        </form>
        <p class="alert alert-primary" style="margin-top: 10px">If you already have an account, <a href="{% url 'notes:login' %}">login</a> instead.</p>
    </div>

{% endblock %}