{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'notes/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/notes.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
{#      <nav>#}
{#          <h2><a href="{% url 'notes:homepage' %}">My Notes</a></h2>#}
{#      </nav>#}
    <nav class="navbar navbar-light" id="navbar">
        <div id="navbar_main">
            <a class="navbar-brand" href="{% url 'notes:homepage' %}">Home</a>
            <a class="navbar-brand" href="{% url 'notes:my_notes' %}">My notes</a>
            <a class="navbar-brand" href="{% url 'notes:public_notes' %}">Public notes</a>
        </div>
    </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
        &copy 2023 MyNoteApp. All rights not reserved.

        {% if not hide_egg %}
        <a href="{% url 'notes:easter_egg' %}" >
            <img src="{% static 'notes/images/easter-egg.png' %}" alt="easter_egg" width="20px" height="20px">
        </a>
        {% endif %}
    </footer>
</body>
</html>